.nav-bar-container {
    display: flex;
    background-color: black;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    gap: 1rem;
    z-index: 2;
}

.nav-bar-left {
    margin-right: auto;
}

.nav-bar-center {
    display: flex;
    gap: 1rem;
}

.nav-bar-right {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.nav-bar-element {
    display: flex;
    border: none;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
    margin: 0.5rem;
    color: rgb(220, 220, 220);
}

.nav-bar-element h1{
    font-family: Permanent Marker, sans-serif;
}

.nav-bar-element:hover{
    color: white;
    cursor: pointer;
}

.icons:hover{
    transform: scale(1.1);
}

.icons {
    width: 2rem;
}

.counter {
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
}

.stickytotAmo {
    position: fixed;
    top: 6.3rem;
}

.search-text {
    background-color: white;
    font-family: Arial, sans-serif;
    height: 2rem;
    border-radius: 5px;
}

.search-button {
    border: none;
    background-color: black;
}